div {
    width: 100%;
}

#sky{

    background-color: aqua;
    height: 30vh;
    position: absolute;
    top: 0%;

}

#clouds{
    background-color: rgb(208, 34, 34);
    height: 500px

}

#ground{
    background-color: #9905f0;
    position: absolute;
    bottom: 0;
}